@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.flex-head {
  display: flex;
  flex-direction: row;
  background-color: #3c3a39;
}

a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffff;
  text-decoration: unset;
}

.flex-head img {
  padding-top: 6px;
}

.head-elements {
  position: fixed;
  width: 375px;
  display: flex;
  justify-content: space-between;
  padding: 24px 24px 12px 24px;
  background: #3c3a39;
}

.hamburger {
  display: block;
}

.bar {
  display: block;
  background-color: #acb7c3;
  width: 16px;
  border: 1px solid #acb7c3;
  margin: 3px auto;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
  margin: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(-3px) rotate(45deg);
  margin: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-7.5px) rotate(-45deg);
  margin: 0;
}

#envimg {
  display: none;
}

#nav-hr {
  width: 327px;
  border: 0.5px solid #6f6c6b;
  background: #6f6c6b;
}

.nav-mobile {
  position: fixed;
  left: -100%;
  width: 375px;
  height: 755px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: #3c3a39;
  transition: 400ms;
}

.desktop-elements {
  display: none;
}

.nav-mobile.active {
  left: 0;
  padding: 40px;
}

.back {
  width: 375px;
  background-color: #1c1a19;
  background-image: url('./images/imag.png');
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.box1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  margin: 120px 24px 0 24px;
  color: #ff6b00;
}

.box2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin: 0 24px 0 24px;
  color: #fff5e1;
}

.box3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 24px 0 24px;
  color: #fff;
}

ul {
  padding: 0%;
  list-style: none;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 24px 140px 24px;
  width: 160px;
  height: 20px;
}

.social > img {
  width: 90%;
  height: 100%;
}

.projects {
  width: 375px;
  background-color: #fff;
}

.pro-head {
  width: 327px;
  height: 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 100px 24px 0 24px;
}

.pro-head h1 {
  width: 327px;
  height: 83px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#line {
  width: 322px;
  height: 0;
  background: #212121;
  margin-top: 24px;
}

.multi-post {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  width: 375px;
}

.image-poster {
  width: 85%;
  height: 85%;
}

.multi-post h2 {
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  margin-top: 24px;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.multi-paragraph {
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.lang {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-right: 40px;
  margin-bottom: 12px;
  list-style: none;
  order: 2;
}

.lang ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.lang li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #8993a4;
  color: #091e42;
  padding: 10px 12px;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 200px;
  padding: 12px;
  gap: 10px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  width: 132px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  border: 0;
}

.popcontainer {
  width: 100%;

  /* height: 100vh; */

  position: fixed;
  background-attachment: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border: 1px solid #ebecf0;
  box-shadow: 0 48px 48px rgb(37 47 137 / 8%);
  backdrop-filter: blur(6px);
  visibility: hidden;
}

.popdisplay {
  width: 95%;
  display: flex;
  flex-direction: column;
  background: white;
  justify-content: center;
  padding: 12px;
}

.poptitle {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.poptitle .pophead {
  /* Project Title */

  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;

  /* or 138% */

  /* Neutrals/N800 */

  color: #172b4d;
}

.poptitle .closebtn {
  color: #67798e;
  font-size: 30px;
  border: 0;
  background: inherit;
}

.closebtn:hover {
  border: 0;
  color: #67798e;
  cursor: pointer;
}

.poptech {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.poplang {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  /* identical to box height, or 133% */

  /* Theme 3 / Neutral 2 */
  border: 1px solid #3c3a39;
  color: #3c3a39;
  padding: 5px 8px;
}

.popcode {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #3c3a39;
  padding: 10px 0 12px 0;
  background: rgba(255, 255, 255, 0.24);
  gap: 7px;
}

.popcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

#popimg {
  width: 100%;
}

.btnpara {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.poppara {
  /* width: 80%; */
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: start;
  color: #344563;
}

.btndis {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 7px;
}

.popbtn {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  height: 5vh;
  border: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.popcontainer.active {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-attachment: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border: 1px solid #ebecf0;
  box-shadow: 0 48px 48px rgb(37 47 137 / 8%);
  backdrop-filter: blur(6px);
  visibility: visible;
}

.work {
  width: calc(375px - 48px);
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.work-grid {
  display: grid;
  grid-template-columns: 327px;
  gap: 24px;
  margin: 24px;
}

.work-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./images/profesional.png);
}

.desktop-title {
  display: none;
}

.work-title {
  margin-top: 84px;
  margin-left: 16px;
  margin-right: 16px;
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.work-paragraph {
  margin-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
  width: 295px;
  height: 87px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.code {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-right: 58px;
  margin-top: 12px;
  order: 2;
}

.code li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
}

.pr-btn {
  width: 327px;
  height: 48px;
  margin-top: 22px;
  border: 0;

  /* Theme 3 / Primary 1 */

  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */

  text-align: center;
  letter-spacing: 0.03em;

  /* Theme 2 / Neutral 11 */

  color: #fff;
  order: 3;
}

.aboutme {
  width: 375px;
  left: 0;
  top: 4137px;
  margin-top: 120px;

  /* Theme 3 / Neutral 1 */

  background: #1c1a19;
  background-image: url(./images/about-me-mobile.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 25%;
}

.about-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px;
}

#about-title {
  width: 327px;
  height: 79px;
  margin-top: 120px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;

  /* or 122% */

  letter-spacing: 0.37px;

  /* Theme 3 / Primary 1 */

  color: #ff6b00;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#about-para {
  width: 327px;
  height: 148px;
  margin-top: 24px;

  /* Theme 3 / Body Reguler 2 */

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N20 */

  color: #f4f5f7;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.about-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  margin-right: 170px;
  padding: 12px;
  gap: 10px;
  border: 0;

  /* width: 161px;
height: 48px; */
  width: 161px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */

  text-align: center;
  letter-spacing: 0.03em;

  /* Theme 2 / Neutral 11 */

  color: #fff;

  /* Theme 3 / Primary 1 */

  background: #ff6b00;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

#line2 {
  height: 0;
  margin: 226px 24px 130px 24px;
  border: 1px solid #fff;
  flex: none;
  order: 3;
  flex-grow: 0;
  width: 335px;
}

.bottom {
  margin-top: 120px;
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.display {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 12px;
}

.display > img {
  width: 18px;
  height: 18px;
}

.bottom-headers {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.languges-list {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.skills > ul {
  margin-bottom: 131px;
}

button:disabled {
  background: #f4f1f0;
}

button:enabled {
  background: #f55800;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #ff6b00;
  cursor: pointer;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
}

.form-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
}

.cont label {
  display: none;
}

#form-head {
  width: 327px;
  height: 216px;
  margin: 120px 24px 0 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.inp {
  border: none;
}

.inp:focus {
  outline: none;
}

#name {
  width: 295px;
  height: 18px;
  margin-top: 73px;
  left: 16px;
  right: 16px;
  top: calc(50% - 18px / 2);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #979493;
}

#email {
  width: 295px;
  height: 18px;
  margin-top: 39px;
  left: 16px;
  right: 16px;
  top: calc(50% - 18px / 2);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #979493;
}

#story {
  width: 327px;
  margin-top: 24px;
  background: #fbf8f7;
}

.hr-form {
  width: 327px;
  height: 1px;
  margin-top: 14px;
  border: none;
  background: #dbd8d7;
}

.form-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  border: none;
  width: 131px;
  height: 48px;
  margin-top: 24px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 3;
  flex-grow: 0;
}

#line3 {
  width: 375px;
  height: 1px;
  border: none;
  margin-top: 124px;
  background: #dfe1e6;
}

.social-foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 24px 99px 23px 97px;
}

/* //////////// Desktop Version\\\\\\\\\\\\\\\\\ */

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .back {
    width: 1440px;
    background-image: url(./images/header@2x.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
  }

  .head-elements {
    display: none;
  }

  #envimg {
    display: block;
  }

  .desktop-elements {
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: rgb(60, 58, 57);
    margin: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding: 16px 142px;
  }

  .nav-desktop {
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 20px;
    line-height: 110%;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .contents {
    display: flex;
    flex-direction: row-reverse;
    width: 670px;
    align-items: center;
    justify-content: flex-end;
  }

  .social {
    flex-direction: column;
    margin: 279px 81px 351px 36px;
    gap: 20px;
    width: 18px;
    height: 160px;
  }

  .desktop-contants {
    margin: 192px 0 251px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 566px;
    align-items: center;
    line-height: 50px;
    gap: 24px;
  }

  .box1 {
    width: 566px;
    height: 160px;
    margin: 0;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .box2 {
    width: 566px;
    height: 24px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .box3 {
    width: 566px;
    height: 123px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .projects {
    width: 1440px;
    background-color: #fff;
  }

  .pro-head {
    width: 1169px;
    height: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: unset;
    margin: 301px 153px 0 153px;
  }

  #line {
    width: 794px;
    height: 0;
    background: #212121;
    gap: 24px;
    margin-top: 0;
  }

  .multi-post {
    display: grid;
    width: 1169px;
    grid-template-columns: auto auto;
    margin: 99px 120px 32px 144px;
    gap: 24px;
  }

  .image-poster {
    width: 684px;
  }

  .image-poster:hover {
    transition: 1s;
    transform: scale(1.1, 1.1);
    z-index: 1;

    /* height: 448px; */
  }

  .multi-desktop {
    width: 448px;

    /* height: 400px; */

    display: grid;

    /* grid-template-rows: auto auto auto auto; */

    gap: 24px;
    margin-bottom: 136px;
  }

  .multi-post h2 {
    width: 448px;
    height: 48px;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    color: #091e42;
  }

  .multi-paragraph {
    width: 448px;
    height: 140px;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    color: #091e42;
  }

  .lang {
    display: grid;
    width: 75%;
    grid-template-columns: auto auto auto auto;
    padding-right: 40px;
    margin-bottom: 24px;
    gap: 12px;
    list-style: none;
    order: 2;
  }

  .workcards {
    width: 1440px;
  }

  .work-grid {
    display: grid;
    grid-template-columns: 369px 369px 369px;
    grid-template-rows: 435px 435px;
    gap: 37px 24px;
    margin: 24px 131px 130px 130px;
  }

  .work-flex:hover {
    transition: 1s;
    transform: scale(1.1, 1.1);
    z-index: 2;
  }

  .pr-btn {
    position: inherit;
    width: 369px;
    height: 58px;
  }

  .work-title {
    display: none;
  }

  .desktop-title {
    /* Title Post */

    width: 337px;
    height: 81px;
    display: block;
    margin-top: 155px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;

    /* or 138% */

    /* Neutrals/N0 */

    color: #fff;
  }

  .work-paragraph {
    /* Supporting Text */

    width: 337px;
    height: 72px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;

    /* or 141% */

    color: #fff;
  }

  .desktop-btn {
    display: none;
  }

  .code {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12px;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    margin-top: 12px;
    order: 2;
  }

  .code li {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: white;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
  }

  .social > li:hover {
    transition: 200ms;
    transform: scale(2, 2);
    z-index: 2;
  }

  .work-flex > h1 {
    display: block;
    margin-right: 56px;
    margin-top: 140px;
  }

  .aboutme {
    width: 1440px;
    background-image: url(./images/desktop-aboutme.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 10%;
  }

  .about-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 566px;
    height: 588px;
    margin: 0 142px 9px 147px;
  }

  #about-title {
    width: 566px;
    height: 78px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;

    /* or 113% */

    color: #f55800;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #about-para {
    /* Description */

    width: 566px;
    height: 148px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;

    /* or 160% */

    /* Neutrals/N20 */

    color: #f4f5f7;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .about-btn {
    /* Button / Enable */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 161px;
    height: 48px;
    margin-right: 410px;
    background: #f55800;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  #line2 {
    width: 1156px;
    margin: 139px 142px 146px 142px;
  }

  .bottom {
    display: grid;
    width: 1157.46px;
    justify-content: space-around;
    align-items: flex-start;
    height: 596px;
    grid-template-columns: 250px 250px 250px;
    margin-left: 153px;
    margin-right: 153px;
  }

  .languges-list {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    text-align: left;

    /* or 194% */

    display: flex;
    color: #fff;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .cont {
    width: 1440px;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 1163px;
    height: 590px;
  }

  #form-head {
    /* Primary Text */

    width: 455px;
    height: 256px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    /* or 130% */

    margin: 130px 24px 0 24px;
    display: flex;
    align-items: center;
    color: #262626;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .form-cont {
    /* Form */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 684px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .form {
    width: 684px;
    margin-top: 145px;
    display: flex;
    flex-direction: column;
  }

  #name {
    height: 18px;
    left: 16px;
    right: 16px;
    top: calc(50% - 18px / 2);
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;

    /* or 160% */

    display: flex;
    align-items: center;

    /* Theme 3 / Neutral 6 */

    color: #979493;
  }

  #email {
    height: 18px;
    left: 16px;
    right: 16px;
    top: calc(50% - 18px / 2);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;

    /* or 160% */

    display: flex;
    align-items: center;

    /* Theme 3 / Neutral 6 */

    color: #979493;
  }

  .hr-form {
    width: 684px;
    height: 1px;

    /* Theme 3 / Neutral 8 */

    background: #dbd8d7;
  }

  #story {
    width: 684px;
    height: 114px;
  }

  .form-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 127px;
    height: 48px;
    background: #f55800;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;

    /* identical to box height, or 141% */

    letter-spacing: 0.03em;

    /* Theme 2 / Neutral 11 */

    color: #fff;
  }

  #line3 {
    width: 1440px;
    height: 1px;
    background: #dfe1e6;
  }

  .social-foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 630px 26px 631px;
  }

  .social-foot > li:hover {
    transition: 200ms;
    transform: scale(2, 2);
    z-index: 2;
  }

  /* pop style */

  .popcontainer {
    width: 100%;

    /* height: 100vh; */

    position: fixed;
    background-attachment: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgb(37 47 137 / 8%);
    backdrop-filter: blur(6px);
    visibility: hidden;
  }

  .popdisplay {
    width: 95%;
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: center;
    align-items: baseline;
    padding: 24px;
  }

  .poptitle {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .poptitle .pophead {
    /* Project Title */

    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;

    /* or 138% */

    /* Neutrals/N800 */

    color: #172b4d;
  }

  .poptitle .closebtn {
    color: #67798e;
    font-size: 30px;
    border: 0;
    background: inherit;
  }

  .closebtn:hover {
    border: 0;
    color: #67798e;
    cursor: pointer;
  }

  .poptech {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
  }

  .poplang {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;

    /* identical to box height, or 133% */

    /* Theme 3 / Neutral 2 */
    border: 1px solid #3c3a39;
    color: #3c3a39;
    padding: 5px 8px;
  }

  .popcode {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #3c3a39;
    background: rgba(255, 255, 255, 0.24);
    gap: 7px;
  }

  .popcontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }

  #popimg {
    width: 60%;
  }

  .btnpara {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .poppara {
    /* width: 80%; */
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: start;
    color: #344563;
  }

  .btndis {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 7px;
  }

  .popbtn {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    height: 5vh;
    border: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .popcontainer.active {
    width: 100%;

    /* height: 100vh; */

    position: fixed;
    background-attachment: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgb(37 47 137 / 8%);
    backdrop-filter: blur(6px);
    visibility: visible;
  }
}
