* {
  margin: 0%;
}

body {
  width: 375px;
  height: 650px;
}

.flex-head {
  display: flex;
  flex-direction: row;
  background-color: #3c3a39;
}

a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffff;
  text-decoration: unset;
}

.flex-head img {
  padding-top: 6px;
}

.head-elements {
  width: 375px;
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 5px 10px;
}

.back {
  background-color: #1c1a19;
  background-image: url("./images/imag.png");
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.box1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  margin: 120px 24px 0 24px;
  color: #ff6b00;
}

.box2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin: 0 24px 0 24px;
  color: #fff5e1;
}

.box3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 24px 0 24px;
  color: #fff;
}

ul {
  padding: 0%;
  list-style: none;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 24px 140px 24px;
  width: 160px;
  height: 20px;
}

.projects {
  width: 375px;
  background-color: #fff;
}

.pro-head {
  width: 327px;
  height: 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 100px 24px 0 24px;
}

.pro-head h1 {
  width: 327px;
  height: 83px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#line {
  width: 327px;
  height: 0;
  border: 1px solid #212121;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* .box {
  border: 3px solid red;
} */

.multi-post {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  width: 375px;
}

.multi-post h2 {
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  margin-top: 24px;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.multi-paragraph {
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.lang {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-right: 40px;
  margin-bottom: 12px;
  gap: 10px;
  list-style: none;
  order: 2;
}

.lang-li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

#css {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#html {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#bootstrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#ruby {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* button {
  width: 132px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  border: 0;
} */

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 200px;
  padding: 12px;
  gap: 10px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  width: 132px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  border: 0;
}

.work {
  width: calc(375px - 48px);
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(./images/profesional.png);
}

.work-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-title {
  margin-top: 84px;
  margin-left: 16px;
  margin-right: 16px;
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.work-paragraph {
  margin-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
  width: 295px;
  height: 87px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.code {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-right: 58px;
  order: 2;
}

.code-li {
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
}

#codecss {
  width: 32px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  /* Neutrals/N0 */

  color: #fff;
}

#codebootstrap {
  width: 71px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  /* Neutrals/N0 */

  color: #fff;
}

#coderuby {
  width: 37px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  /* identical to box height, or 133% */

  /* Neutrals/N0 */

  color: #fff;
}

#pr-btn {
  width: 327px;
  height: 48px;
  margin-top: 22px;
  border: 0;

  /* Theme 3 / Primary 1 */

  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */
  text-align: center;
  letter-spacing: 0.03em;

  /* Theme 2 / Neutral 11 */

  color: #fff;
  order: 3;
}

.aboutme {
  width: 375px;

  /* height: 1901px; */
  left: 0;
  top: 4137px;

  /* Theme 3 / Neutral 1 */

  background: #1c1a19;
  background-image: url(./images/about-me-mobile.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 25%;
}

.about-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px;
}

#about-title {
  width: 327px;
  height: 79px;
  margin-top: 120px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;

  /* or 122% */

  letter-spacing: 0.37px;

  /* Theme 3 / Primary 1 */

  color: #ff6b00;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#about-para {
  width: 327px;
  height: 148px;
  margin-top: 24px;

  /* Theme 3 / Body Reguler 2 */

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N20 */

  color: #f4f5f7;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

#about-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  margin-right: 170px;
  padding: 12px;
  gap: 10px;
  border: 0;

  /* width: 161px;
height: 48px; */
  width: 161px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */

  text-align: center;
  letter-spacing: 0.03em;

  /* Theme 2 / Neutral 11 */

  color: #fff;

  /* Theme 3 / Primary 1 */

  background: #ff6b00;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

#line2 {
  height: 0;
  margin-top: 209px;
  border: 1px solid #fff;
  flex: none;
  order: 3;
  flex-grow: 0;
  width: 335px;
}

.bottom {
  left: 0;

  /* top: 4137px; */
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expertise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#li-lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 200px;
  height: 41.46px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#languages {
  /* Language */

  width: 203px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  /* or 138% */

  display: flex;
  align-items: center;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

#li-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 220px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#frameworks {
  width: 203px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  /* or 138% */

  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

#li-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 145px;
  height: 40px;
}

#skills {
  width: 203px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  /* or 138% */

  display: flex;
  align-items: center;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.lingo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#java {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;

  /* or 194% */

  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#ruby1 {
  width: 115px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;

  /* or 194% */

  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#html1 {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;

  /* or 194% */

  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#css1 {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;

  /* or 194% */

  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#boot {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;

  /* or 194% */

  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#ror {
  width: 162px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;

  /* or 194% */

  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#rsp {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;

  /* or 194% */

  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#cap {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;

  /* or 194% */

  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#selenium {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;

  /* or 194% */

  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#codekit {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;

  /* or 194% */

  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#git {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;

  /* or 194% */

  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#codepen {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;

  /* or 194% */

  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#github {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;

  /* or 194% */

  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.lingo > ul {
  margin: 44px 55px 44px 94px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lingo > ul > li {
  margin: 12px 32px 20px 32px;
}

.frame > ul {
  margin: 44px 57px 44px 94px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.frame > ul > li {
  margin: 12px 32px 20px 32px;
}

.skill > ul {
  margin: 44px 60px 44px 94px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill > ul > li {
  margin: 12px 32px 20px 32px;
}
